.accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px;
  overflow: hidden;
}
.accordion-button {
  background-color: #f1f1f1;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.accordion-content {
  padding: 10px;
  display: none;
  background-color: #fff;
}

/* Hide the default input text */
input[type="file"] {
  display: none;
}
/* Style the custom file input */
.custom-file-input {
  /* background-color: #2b6cb0; */
  color: white;
  border: none;
  /* padding: 5px 10px; */
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

/* @media only screen and (max-width: 767px) { */
/* @media (orientation: landscape) { */
/* Your landscape-specific styles here */
/* body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: fixed;
    top: 100%;
    left: 0; */
/* } */
/* } */
/* }s */

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 80%;
  text-align: left;
}

/* Keyframe animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Apply your custom animations for the tips */
.tip {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.5s ease-in-out forwards;
  padding: 10px;
}

.Tip {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Settings {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.rowws {
  gap: 10px;
}
